<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Yokai by ID</title>
	<style>
		h1 { color: #ddd; }
		body { background-color: #444; }

		.main {
			display: grid;
			grid-template-columns: repeat(6, 250px);
		}

		.item {
			width: 44px;
			height: 44px;
		}
	</style>
</head>
<body>
	<div class="main">
		<h1>{{ name }}</h1>
		<h1>{{ food }}</h1>
		<img class="item" src="{{ icon }}">
		<img class="item" src="{{ rank }}">
		<img class="item" src="{{ tribe }}">
		<img class="item" src="{{ attribute }}">
	</div>	
</body>
</html>